<br/>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Blocitoff is a to-do list with auto-delete! Rockitoff with Blocitoff</p>
  <p>
      <%= link_to "Enter the Dragon", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Summon Eagle Powers", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>It's the best!</h2>
    <p>Ok... Maybe I am not meant for these duties. Cooking duty. Dead guy duty. Maybe it's time for me to get a better duty!</p>
  </div>
  <div class="col-md-4">
    <h2>Shopping Reminders!</h2>
    <p>Do you remember when everyone was shouting my name, and I used my strength to rip my blouse.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>I'm not listening to you. You're crazy.</p>
  </div>
</div>